.App {
  text-align: center;
}

.App-logo {
  height: 40vmin; /* 비율에 따라 크기 조정 */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 링크 색상 */
.App-link {
  color: #61dafb;
}

/* 화면 크기에 따른 스타일 조정 */
@media (max-width: 768px) { /* 태블릿 및 작은 화면 */
  .App-header {
    font-size: calc(8px + 2vmin); /* 폰트 크기 조정 */
  }
}

@media (max-width: 480px) { /* 모바일 화면 */
  .App-header {
    font-size: calc(6px + 2vmin); /* 폰트 크기 조정 */
  }

  .App-logo {
    height: 30vmin; /* 로고 크기 조정 */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}