.time-table {
  border-collapse: collapse;
  width: 100%;
}

.time-table th,
.time-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.time-table th {
  background-color: #f2f2f2;
}
